.colr-blue{
    color: #fff;
    background: #428bca;
}
.colr-red{
    color: #fff;
    background: #F44336;
}
.color-green{
	color: #2d2;
}

.color-white{
	color: #fff;
}
.cBlue{
	background-color: #0c54ee;
}

/* *********************
	**  ==Navigation   **
************************* */

.navbar-nav li a{
	border-left: 1px solid #ddd;
}
.navbar-nav li a span:nth-child(2){
	position: relative;
	top: -8px;
	right: 5px;
}
/*#sidebar_hamburger img{*/
	/*opacity: 0.7;*/
	/*border: 1px solid #ccc;*/
	/*border-radius: 5px;*/
	/*padding:1px;*/
	/*position: absolute;*/
	/*top: 6px;*/
	/*left: 10px;*/
/*}*/

/* *********************
	**  ==Navigation Dropdowns   **
************************* */
.dropdown-menu{
	padding: 0px;
	min-width: 250px;
}
.dropdown-menu .divider{
	margin: 0px;
}

/*Message DropDown*/
.message-container{
	min-width: 320px;
	padding: 12px;
}
#message-dropdown .header{
	padding: 8px;
}
.navbar-nav .message-container-wrapper{
	height: 200px;
	overflow-y: scroll;
}
.navbar-nav .message-container{
	padding: 1px 5px;
}
.navbar-nav .message-container img{
	margin-right: 5px;
}
.navbar-nav .message-container a{
	color: #333;
	border-left: none;
	text-decoration: none;
}
.navbar-nav .message-container:hover{
	background-color: #eee;
}
.message-see-all{
	margin: 8px;
}
.navbar-nav .message-see-all a{
	color: #333;
	border-left: none;
}


/*Notification DropDown*/
.navbar-nav .notification-container-wrapper{
	height: 120px;
	overflow-y: scroll;
}

#notification-dropdown .header{
	padding: 8px;
}
.navbar-nav .notification-container a div{
	padding: 12px;
}
.navbar-nav .notification-container a{
	color: #333;
	border-left: none;
	text-decoration: none;
}
.navbar-nav .notification-container:hover{
	background-color: #eee;
}
.notification-view-all{
	margin: 8px;
}
.navbar-nav .notification-view-all a{
	color: #333;
	border-left: none;
}


/*Task DropDown*/
.navbar-nav .task-container-wrapper{
	height: 120px;
	overflow-y: scroll;
}
#task-dropdown .header{
	padding: 8px;
}
.navbar-nav .task-container a div{
	padding: 12px;
}
.navbar-nav .task-container a{
	color: #333;
	border-left: none;
	text-decoration: none;
}
.navbar-nav .task-container:hover{
	background-color: #eee;
}
.task-view-all{
	margin: 8px;
}
.navbar-nav .task-view-all a{
	color: #333;
	border-left: none;
}


/*User DropDown*/
.user-menu .user-body div{
	margin: 8px;
}
.user-menu .user-header{
	padding: 5px;
	color: #fff;
	background-color: #195e9a;
}
.user-menu .user-header p{
	font-size: 16px;
}
.user-menu .user-header img{
	border: 2px solid #fff;
	margin: 8px;

}
.user-menu .user-header small{
	display: block;
}




/* *********************
	**  ==Main Wrapper   **
************************* */

.main-wrapper{
	padding-top: 50px;
	height: 100%;
	width: 100%;
}

/* *********************
	**  ==SideBar   **
************************* */
.side-bar{
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 230px;
	left: 0px;
	/*background: #f8f8f8;*/
	background: #496477;
	color: #eee;
	position: fixed;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	
}

.user-panel{
	padding: 8px 5px 15px 8px;
	border-bottom: 1px solid #eee ;
}
.user-panel .info{
	display: inline-block;
	padding-left: 10px;
}

.sidebar-form{
	padding: 12px 8px 8px 8px;
}
.sidebar-form .input-group{
	opacity: 0.8;
}

.sidebar-form.opacity1 .input-group{
	opacity: 1;
}

.sidebar-form .input-group:hover{
	opacity: 1;
}



.side-links{
	padding: 0;
	list-style: none;
	margin-top: 5px;
}
.side-links li{
	text-indent: 10px;
	line-height: 40px;
	border-bottom: 1px solid #ddd ;
}
.side-links li:nth-child(1){
	border-top: 1px solid #ddd ;
}
.side-links li a{
	display: block;
	text-decoration: none;
	color: #fff;
}
.side-links li a:hover{
	background-color: #101010;
}
/*
 *********************
	**  ==Content   **
/************************** */
.content{
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 15px 15px 15px 245px;
	background-color: #ecf0f5;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.content .info-box .traffic,.likes,.members{
	height: 110px;
	background-color: #fff;
	border-radius: 3px;
	position: relative;
}
.content .info-box .info-box-icon1,.info-box-icon2,.info-box-icon3{
	width: 100px;
	height: 100%;
	border-radius: 3px 0px 0px 3px;
	float: left;
	margin-right: 10px;
}
.content .info-box .info-box-icon1{
	background: #f39c12;
}
.content .info-box .info-box-icon2{
	background: #dd4b39;
}
.content .info-box .info-box-icon3{
	background: #00a65a;
}
.content .info-box .info-box-icon1 i,.info-box-icon2 i,.info-box-icon3 i{
	color: #fff;
	text-align: center;
	position: relative;
	margin: 30px;
}

.content .info-box .info-box-details h4{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
}


/* *********************
	**  ==SideBar Toggle   **
************************* */
.main-wrapper.sidebarDisplayed .side-bar{
	left: -250px;
}
.main-wrapper.sidebarDisplayed .content{
	padding: 15px;
}


/*Dashboard Template*/
.dashboard-visitors .panel{
	margin-top: 20px;
	border-top: 3px solid #f39c12;
}

.dashboard-visitors .panel-body{
	padding-top: 0px;
	padding-bottom: 0px;
}

.dashboard-visitors .analytics{
	background: #f39c12;
}
.dashboard-visitors .ana{
	text-align: center;
	margin: 25px 0px 25px 0px;
}
.dashboard-visitors p{
	color: #fff;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
}

.dashboard-visitors p.ana-value{
	font-weight: bold;
}



/*User Template*/
.user-content .row{
	/*padding-left: 45px;*/
	text-align: center;
}

.user-content .row div{
	margin-bottom: 16px;
}

.user-content .panel{
	border-top: 3px solid #d9534f;
}

.panel-default>.panel-heading {
	background-color: #fff;
}

.user-content .panel-title{
	color: #555;
	margin: 8px 0px;
}

.user-content .img-circle{
	max-width: 95px;
	max-height: 95px;
	margin-bottom: 8px;
}
.user-content a{
	color: #333;
}

.pager li>a, .pager li>span {
	color: #333;
}

.user-content a:hover,.user-content a:link{
	text-decoration: none;
}

.user-content p{
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 12px;
}

.user-content small{
	font-size: 11px;
	color: #496477;
}





























/* *********************
	**  ==Media Queries   **
************************* */
@media screen and (max-width: 992px){
	.content .info-box .info-box-icon1,.info-box-icon2,.info-box-icon3{
		width: 58px;
		margin-right: 3px;
	}
	.content .info-box .info-box-icon1 i,.info-box-icon2 i,.info-box-icon3 i{
		margin: 30px 8px;
	}

}

@media screen and (max-width: 768px){
	/*NavBar links*/
	.navbar-nav{
		margin: 0px -15px;
	}
	.navbar-nav li{
		border-bottom: 1px solid #ddd ;
	}

	.navbar-nav li:last-child{
		border-bottom: none ;
	}

	/*Make the dropdown menus background white*/
	#message-dropdown,#notification-dropdown,#task-dropdown{
		background: #fff;
	}
	
	/*SideBar Toggling*/
	.side-bar{
		left: -200px;
		width: 200px;
	}
	.content{
		padding: 15px;
	}
	.main-wrapper.sidebarDisplayed .side-bar{
		left: 0px;
	}
	.main-wrapper.sidebarDisplayed .content{
		/*padding: 15px 15px 15px 215px;*/
		overflow-y: hidden;
	}

	.content .info-box .traffic,.likes,.members{
		margin-bottom: 8px;
	}
	.content .info-box .info-box-icon1,.info-box-icon2,.info-box-icon3{
		width: 100px;
		margin-right: 10px;
	}
	.content .info-box .info-box-icon1 i,.info-box-icon2 i,.info-box-icon3 i {
		margin: 30px;
	}
}