<div class="content container-fluid">
	<h4><i class="fa fa-dashboard"></i>&nbsp;Dashboard</h4>
	<div class="row">
		<div class="col-sm-4 info-box">
			<div class="traffic">
				<div class="info-box-icon1"><i class="fa fa-gear fa-3x"></i></div>
				<div class="info-box-details">
					<h4>CPU TRAFFIC</h4>
					<h4><strong>{{80}}%</strong></h4>
				</div>
			</div>
		</div>
		<div class="col-sm-4 info-box">
			<div class="likes">
				<div class="info-box-icon2"><i class="fa fa-google-plus fa-3x"></i></div>
				<div class="info-box-details">
					<h4>LIKES</h4>
					<h4><strong>{{50000}}</strong></h4>
				</div>
			</div>	
		</div>
		<div class="col-sm-4 info-box">
			<div class="members">
				<div class="info-box-icon3"><i class="fa fa-users fa-3x"></i></div>
				<div class="info-box-details">
					<h4>USERS</h4>
					<h4><strong>{{3000}}</strong></h4>
				</div>
			</div>
		</div>
	</div>


	<div class="dashboard-visitors">
		<div class="panel panel-default">
		<div class="panel-heading">
		  <h3 class="panel-title"><i class="fa fa-users"></i>&nbsp;Visitors Report</h3>
		</div>
	 	<div class="panel-body">
	    	
	    	<div class="row">
	    		<div class="col-md-9">
	    			<h2>Google Analytics</h2>
	    		</div>	
	    		<div class="col-md-3 analytics clearfix">
	    			<div class="row">
			    		<div class="col-md-12 col-sm-4 col-xs-4 ana">
			    			<i class="fa fa-dashboard color-white"></i>
			    			<p class="ana-value">2300</p>
			    			<p>Visits</p>
			    		</div>	
			    		<div class="col-md-12 col-sm-4 col-xs-4 ana">
			    			<i class="fa fa-dashboard color-white"></i>
			    			<p class="ana-value">30%</p>
			    			<p>Referrals</p>
			    		</div>
			    		<div class="col-md-12 col-sm-4 col-xs-4 ana">
			    			<i class="fa fa-dashboard color-white"></i>
			    			<p class="ana-value">70%</p>
			    			<p>Organic</p>
			    		</div>
			    	</div>
	    		</div>	
	    	</div>
	  	</div><!--End Body-->
	</div>
	</div>
</div>