<div class="side-bar">
<!-- sidebar user panel -->
	<div class="side-bar-inner-wrapper">
		<div class="user-panel clearfix">
			<div class="pull-left image">
				<img src="img/team2_64.jpg" alt="User Image" class="img-circle">
			</div>
			<div class="pull-left info">
				<h4>John Doe</h4>
				<!-- status -->
				<a><i class="fa fa-circle color-green"> Online</i></a>
			</div>
		</div>

		 <!--Search Form-->
		<div class="sidebar-form clearfix">
			<form action="#" method="get" class="search-form">
				<div class="input-group">
					<input type="text" name="search_input" class="form-control search_input" placeholder="Search">
					<span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn btn-flat" ><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
		</div>
		<ul class="side-links">
			<li><a href="#" class="active"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
		  	<li><a href="#/users" class=""><i class="fa fa-users"></i>&nbsp;Users</a></li>
		  	<li><a href="#/mail" class=""><i class="fa fa-envelope"></i>&nbsp;MailBox</a></li>
			<li><a href="#/tasks" class=""><i class="fa fa-plus"></i>&nbsp;Tasks</a></li>
		</ul>
	</div><!--end side-bar-inner-wrapper-->
</div>