<div class="content container-fluid user-content" ng-controller="userDetailsCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2 col-xs-12">
                    <div>
                        <a href="">
                            <img class="img-thumbnail" ng-src="{{profile_pics}}" alt="user">
                            <h2>{{name}}</h2>
                        </a>
                        <p>{{title}}</p>

                        <h4>{{bio}}</h4>
                    </div>
                </div>
            </div>
        </div><!--End Body-->
    </div>
</div>

